[Desktop Entry]
Name=QTradingview2
Exec=/usr/bin/QTradingview2
Icon=/usr/share/icons/hicolor/48x48/apps/qtradingview2
Type=Application
Categories=Utility;
