[Desktop Entry]
Name=QTradingview2
Exec=/usr/bin/qtradingview2
Icon=/usr/share/icons/hicolor/48x48/qtradingview2
Type=Application
Categories=Utility;
